

<ngb-carousel >

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/casa.jpeg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
   <!--    <h3>نوبة</h3>
      <p>عبد الحميد بوشناق</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/bara2a1.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
    <!--   <h3>براءة </h3>
      <p>سامي الفهري</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/viking.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
    <!--   <h3>الفوندو </h3>
      <p>سوسن الجمني</p> -->
    </div>
  </ng-template>
</ngb-carousel>

 